
body { 
    margin: 0px;
    width: 100%;
    background-color: #FFFAEE;

}
p {
    padding: 0;
}

/* Navigation */
.inline-block {
    display: flex;
    vertical-align: top;
    flex-direction: column;
}

.link {
    display: flex;
    vertical-align: top;
    flex-direction: column;
    padding: 20px;
    font-family: fairfax;
}

.link:hover {
    text-decoration: underline;
}

.inline-block img {
    padding-bottom: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}
nav {
    width: 100%;
    text-align: center;
}
nav li {
 padding-left: 25px;
 padding-right: 25px;
 padding-bottom: 0px;
 font-family: fairfax;
 font-size: 20px;
}
nav ul {
    /* width: 100%; */
    /* margin-left: auto; */
    margin: 5px;
    padding: 0px;
}


/* Hero Section */

.heroImg {
    max-width: 1200px;
    margin: 0 auto;
}

.content h2{
    background:#D1EA8C;
    padding: 15px 30px;
    border-radius: 40px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.content h2:after {
    content:'';
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #D1EA8C;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: -20px;
}

.paragraph {
    display: flex;
}

.about {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
}

.seeMoreButton {
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    background-color: #FFB0C8;
    color: #FD0202;
    font-family: fairfax;
    font-size: 15px;
}

.wenli img {
    width: 300px;
    height: 300px;
}

/*project section*/
.project {
    max-width: 1200px;
    margin: 0 auto;
}
.projSectionTitle { /*cant get it to align to the right*/
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    text-align: right;
}
.projTitleRight {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.projSectionTitle h2 {
    background:#FD0202;
    padding: 15px 30px;
    border-radius: 40px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.projSectionTitle h2:after {
    content:'';
    /* bottom: 0; */
    /* left: 20px; */
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #FD0202;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: -20px;
}

.slides {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
background-color: white;
    justify-content: center;
    text-align: center;
}

.projSlides {
    display: flex;
    flex-direction: row;
}

.projImg img {
    width: 300px;
    height: 300px;
}

.projInfo {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/*resume*/

.resume {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.resume h2{
    background:#FFB0C8;
    padding: 15px 30px;
    border-radius: 40px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.resume h2:after {
    content:'';
    bottom: 0;
    left: 20px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #FFB0C8;
    border-bottom: 0;
    margin-left: 20px;
    margin-bottom: -20px;
}

.viewButton {
    margin: 0 auto;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    background-color: #D1EA8C;
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.viewButton img {
    padding-right: 10px;
}

.buttonText {
    padding-top: 2px;
    font-family: fairfax;
}

/* Footer Section */
footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.foot {
    text-align: right;
}
.social {
    display: flex;
    vertical-align: top;
    text-align: center;
}
.social button {
    margin: 0 auto;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
}

.linkedin {
    display: flex;
    flex-direction: row;
    background-color: #D1EA8C;
}

.instagram {
    display: flex;
    flex-direction: row;
    background-color:#FFB0C8;
}

.email {
    display: flex;
    flex-direction: row;
    background-color: #A1D8F7;
}

.email img, .linkedin img, .instagram img {
    padding-right: 10px;
}

.email .buttonText, .linkedin .buttonText, .instagram .buttonText {
    padding-top: 3px;
}

ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* FONTS */
@font-face {
    font-family: fairfax;
    src: url(/fonts/fairfax.ttf);
  }

h1 {
    text-align: center;
    font-family: fairfax;
    font-weight: 100;
}

h2 {
    font-family: fairfax;
    font-weight: 100;
}

h3 {
    font-family: fairfax;
    font-weight: 100;
}

@font-face {
    font-family: fairfax;
    src: url(/fonts/fairfax.ttf);
  }

/*MOBILE MEDIA QUERY*/
@media only screen and (max-width: 600px) {

/*about*/
    .heroImg {
        margin-left: 20px;
    }
    .content h2 {
        padding-left: 20px;
    }
    .content h3 {
        width: 100%;
        padding-left: 20px;
    }
    .paragraph {
        flex-direction: column;
    }
    .wenli {
        margin: 0 auto;
    }
    .about {
        text-align: center;
    }

/*project*/
    .project {
        width: 100%;
    }
    .projSectionTitle {
        padding-left: 20px;
    }
    .projSlides {
        flex-direction: column;
    }
    .slide {
        width: 100%;
    }

/*resume*/
    .resume {
        width: 100%;
        padding-left: 20px;
    }

/*footer*/
    .foot {
        padding-right: 20px;
    }
    .social {
        justify-content: center;
    }
}

